@page "/routes-to-fly"
@using IFPlanner.Components.Models

@if (_isInitialized != true)
{
    <div class="rz-m-xl-0">
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
    </div>
}
else
{
    <PageTitle>Discover Routes</PageTitle>
    <RadzenText Text="Short Haul Routes" TextStyle="TextStyle.DisplayH5" Style="margin-bottom: 10px;" />
    <RadzenDataGrid TItem="ToFlyRoutesClass.ShortHaulScenicRoute" Data="_shortHaulScenicRoutes" AllowFiltering="true" AllowSorting="true" AllowVirtualization="true" SelectionMode="DataGridSelectionMode.Single" @bind-Value="_selectedShortHaulScenicRoutesRoute" AllowPaging="true" PageSize="7">
        <Columns>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.ShortHaulScenicRoute" Property="routeName" Title="Route Name"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.ShortHaulScenicRoute" Property="originIcao" Title="Origin ICAO"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.ShortHaulScenicRoute" Property="destinationIcao" Title="Destination ICAO"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.ShortHaulScenicRoute" Property="aircraftModel" Title="Aircraft Model"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.ShortHaulScenicRoute" Property="livery" Title="Livery"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.ShortHaulScenicRoute" Property="flightTime" Title="Flight Time"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.ShortHaulScenicRoute" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right" Width="120px">
                <Template Context="data">
                    <RadzenButton Click="() => NavigateToPage(data.originIcao, data.destinationIcao, data.aircraft)" Icon="flight_takeoff" Text="Fly"/>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <br/>
    <RadzenText Text="Medium Haul Routes" TextStyle="TextStyle.DisplayH5" Style="margin-bottom: 10px;" />
    <RadzenDataGrid TItem="ToFlyRoutesClass.MediumHaulScenicRoute" Data="_mediumHaulScenicRoutes" AllowFiltering="true" AllowSorting="true" AllowVirtualization="true" SelectionMode="DataGridSelectionMode.Single" @bind-Value="_selecteMediumHaulScenicRoutesRoute" AllowPaging="true" PageSize="7">
        <Columns>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.MediumHaulScenicRoute" Property="routeName" Title="Route Name"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.MediumHaulScenicRoute" Property="originIcao" Title="Origin ICAO"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.MediumHaulScenicRoute" Property="destinationIcao" Title="Destination ICAO"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.MediumHaulScenicRoute" Property="aircraftModel" Title="Aircraft Model"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.MediumHaulScenicRoute" Property="livery" Title="Livery"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.MediumHaulScenicRoute" Property="flightTime" Title="Flight Time"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.MediumHaulScenicRoute" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right" Width="120px">
                <Template Context="data">
                    <RadzenButton Click="() => NavigateToPage(data.originIcao, data.destinationIcao, data.aircraft)" Icon="flight_takeoff" Text="Fly"/>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <br/>
    <RadzenText Text="Long Haul Routes" TextStyle="TextStyle.DisplayH5" Style="margin-bottom: 10px;" />
    <RadzenDataGrid TItem="ToFlyRoutesClass.LongHaulScenicRoute" Data="_longHaulScenicRoutes" AllowFiltering="true" AllowSorting="true" AllowVirtualization="true" SelectionMode="DataGridSelectionMode.Single" @bind-Value="_selectedLongHaulScenicRoutesRoute" AllowPaging="true" PageSize="7">
        <Columns>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.LongHaulScenicRoute" Property="routeName" Title="Route Name"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.LongHaulScenicRoute" Property="originIcao" Title="Origin ICAO"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.LongHaulScenicRoute" Property="destinationIcao" Title="Destination ICAO"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.LongHaulScenicRoute" Property="aircraftModel" Title="Aircraft Model"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.LongHaulScenicRoute" Property="livery" Title="Livery"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.LongHaulScenicRoute" Property="flightTime" Title="Flight Time"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.LongHaulScenicRoute" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right" Width="120px">
                <Template Context="data">
                    <RadzenButton Click="() => NavigateToPage(data.originIcao, data.destinationIcao, data.aircraft)" Icon="flight_takeoff" Text="Fly"/>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <br/>
    <RadzenText Text="Busiest Routes" TextStyle="TextStyle.DisplayH5" Style="margin-bottom: 10px;" />
    <RadzenDataGrid TItem="ToFlyRoutesClass.BusyRoute" Data="_busyRoutes" AllowFiltering="true" AllowSorting="true" AllowVirtualization="true" SelectionMode="DataGridSelectionMode.Single" @bind-Value="_selectedBusiestRoute" AllowPaging="true" PageSize="7">
        <Columns>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.BusyRoute" Property="routeName" Title="Route Name"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.BusyRoute" Property="originIcao" Title="Origin ICAO"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.BusyRoute" Property="destinationIcao" Title="Destination ICAO"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.BusyRoute" Property="aircraftModel" Title="Aircraft Model"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.BusyRoute" Property="livery" Title="Livery"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.BusyRoute" Property="flightTime" Title="Flight Time"/>
            <RadzenDataGridColumn TItem="ToFlyRoutesClass.BusyRoute" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right" Width="120px">
                <Template Context="data">
                    <RadzenButton Click="() => NavigateToPage(data.originIcao, data.destinationIcao, data.aircraft)" Icon="flight_takeoff" Text="Fly"/>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}